<h1>{{title}}</h1>

<ul>
    <li *ngFor="let genre of genres">{{genre.id}} : {{genre.name}}| 
        <button>Editar</button> | <button (click)="remove(genre)">Remover</button></li>
</ul>

<form [formGroup]="formGenre">
    <fieldset>
        <label>Gênero: </label>
        <input type="text" placeholder="Nome do Gênero de Jogo" maxlength="30" formControlName="nameGenre">
        <small *ngIf="formGenre.controls['nameGenre'].invalid && !formGenre.controls['nameGenre'].pristine">Esse campo deve conter entre 3 e 30 caracteres</small>
        <button [disabled]="formGenre.invalid" (click)="add()">Adicionar</button>
    </fieldset>
</form>